<!DOCTYPE html>
<html>
<head>
	<title>Vide-ojo</title>
	<!-- bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua" rel="stylesheet">



	<!-- font awesome for icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- local css file -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<%-body%>






</body>
</html>