<!DOCTYPE html>
<html>
<head>
	<title>Foo-App</title>
</head>
<body>
	<!-- search youtube api -->
	<input type="search" name="youtubeVids" placeholder="Search For Videos...">
	<button>Go!</button>

</body>
</html>