	<!-- nav bar -->
	<nav class='nav'>
		<a href="/index">Home</a>
		<a href="/show">My Profile</a>
		<a href="/logout">Log Out</a> 
	</nav>




	<!-- Page Title -->
	<h1 class='pageTitle'>Search For Videos</h1>




	<!-- search videos -->
	<input type="search" name="youtubeVids" placeholder="Search For Videos..." >
	<button id='button'>Go!</button>






		<div id="searchedVideos"></div>









<!-- popUp form -->
	<div class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<form id= postVidForm method='POST'>
				<input type="text" name="title" placeholder="Video Title">
				<textarea type='text' name='description' placeholder="Video Description" maxlength="140"></textarea>
				<button>Post</button>
			</form>
		</div>
	</div>


