<!DOCTYPE html>
<html>
<head>
	<title>Foo-App</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<input type="search" name="youtubeVids" placeholder="Search For Videos...">
	<button>Go!</button>

</body>
<script type="text/javascript" src="/public/api.js"></script>
</html>