<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	
	<header>Temporary message: edit page</header>

	<!-- form to edit video -->
	<form>
		<input type="text" name="title" placeholder="video title">
		<textarea type='text' name="description" placeholder="video description" maxlength="140"></textarea>
	</form>
</body>
</html>