<!DOCTYPE html>
<html>
<head>
	<title>Foo-App</title>
</head>
<body>
	<!-- links to other pages -->
	<a href="/add">Post A Video</a>
	<a href="/show">My Profile</a>
	<a href="/logout">log out</a>
	<header>Temporary Message: Welcome <%=firstName%> <%=lastName%></header>

</body>
</html>