
<div id="body">

	<div id="background">
		<div id="parentDiv">
			<div id="child">
				<h1>Vide-ojo</h1>

				<p class="introP">Vide-ojo is a video sharing site. Log in or create an account to search for and share your favorite videos from youtube with others! View and like other users' shared videos.  </p>	
			</div>
		</div>
	</div>

	<div>
		<!-- log in -->
		<form id="loginChild" action='/login' method='POST'>
			<h3>Log In:</h3>
			<input type="username" name="userName" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button class="logInBtn">Log In</button>
		</form>

		<!-- register (create user) -->
		<form class="newChild" id="createAccount" action='/register' method='POST'>
			<h3>Create New Account</h3>
			<input id="newTextBoxes" type="text" name="firstName" placeholder="first name">
			<input id="newTextBoxes" type="text" name="lastName" placeholder="last name"> <br/>
			<input id="newTextBoxes" type="username" name="userName" placeholder="username">
			<input id="newTextBoxes" type="password" name="password" placeholder="password"> <br/>
			<button class="signUpBtn">Sign Up</button>
		</form>	
	</div>


</div>
