<!DOCTYPE html>
<html>
<head>
	<title>Log In or Sign Up</title>
</head>
<body>
	<form action='' method=''>
		<input type="username" name="userName" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button>Log In</button>
	</form>

	<form action='' method=''>
		<input type="text" name="firstName" placeholder="first name">
		<input type="text" name="lastNAme" placeholder="last name">
		<input type="username" name="userName" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button>Sign Up</button>
	</form>
</body>
</html>