<div id="login-stuff">

	<div id="site-description">
		<div id="parentDiv">
			<div id="child">
				<h1 class=pageTitle>Vide-ojo</h1>

				<p class="introP">Vide-ojo is a video sharing site. Log in or create an account to search for and share your favorite videos from youtube with others! View and like other users' shared videos.  </p>	
			</div>
		</div>
	</div>




	<div id="login-forms">




		<!-- log in -->
		<% if (message) { -%>
			<p class="message" style="background-color: pink"><%=message%></p>		
		<% } -%>





		<form id="loginChild" action='/login' method='POST'>
			<h3>Log In:</h3>
			<input type="username" name="userName" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<button class="logInBtn">Log In</button>
		</form>









		<!-- register (create user) -->
		<form class="newChild" id="createAccount" action='/register' method='POST'>
			<h3>Create New Account</h3>
			<input type="text" name="firstName" placeholder="first name" required >
			<input type="text" name="lastName" placeholder="last name" required > <br/>
			<input type="username" name="userName" placeholder="username" required >
			<input type="password" name="password" placeholder="password" required > <br/>
			<button class="signUpBtn">Sign Up</button>
		</form>	

	</div>


</div>
