<!-- links to other pages -->
<a href="/index">Home</a>

<h1 class="pageTitle"> <%=user%>'s Videos</h1>


<!-- Iterate through all videos shared by this user and show them on this page -->
<%for(let i = 0, len = videos.length; i < len; i ++ ){%>


	<iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%=videos[i].videoId%>?enablejsapi=1&origin=http://example.com" width="340" height="190" frameborder="0"></iframe>

	<h5><%=videos[i].title%></h5>
	<h6><%=videos[i].description%></h6>

<%}%>	