<!DOCTYPE html>
<html>
<head>
	<title>Videojo</title>
</head>
<body>


	<!-- links to other pages -->
	<a href="/index">Home</a>
	<header>Temporary message: Show page</header>




	<!-- Iterate through all vids in db associated to current user and show them on this page -->
		<%for(let i = 0, len = user.videos.length; i < len; i ++ ){%>
			<iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%=user.videos[i].videoId%>?enablejsapi=1&origin=http://example.com" width="340" height="190" frameborder="0"></iframe>
		<%}%>	

</body>
</html>