
	<!-- links to other pages -->
	<nav class="nav" >
		<a href="/index">Home</a>
		<a href="/show">My Videos</a>
		<a href="/logout">Log Out</a>
	</nav>
	
		<!-- Page Title -->
	<h1 class='pageTitle'>Edit Video Info</h1>

	<!-- form to edit video -->

	<div id="editFormPage" class='vidContainer' >
		<form action="/video/<%=videoId%>?_method=PUT" method="POST">
			
			<input type="text" name="title" placeholder='Edit Video Title'> <br>

			<div>
				<iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%=videoId%>?enablejsapi=1&origin=http://example.com" width="340" height="190" frameborder="0"></iframe>
			</div>
			
			<textarea type='text' name="description" placeholder="Edit Video Description" maxlength="140"></textarea> <br/>
			<button class='thumbNailBtn'>Update</button>

		</form>
		
	</div>
