<!DOCTYPE html>
<html>
<head>
	<title>Vide-ojo</title>
</head>
<body>
	<!-- links to other pages -->
	<a href="/index">Home</a>
	<a href="/show">My Videos</a>
	<a href="/logout">log out</a>
	
	<header>Edit Video Info</header>

	<!-- form to edit video -->
	<form action="/video/<%=videoId%>?_method=PUT" method="POST">
		Edit Video Title: <input type="text" name="title" placeholder="<%=title%>"> <br>

		<div>
			<iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%=videoId%>?enablejsapi=1&origin=http://example.com" width="340" height="190" frameborder="0"></iframe>
		</div>

		Edit Video Description: <textarea type='text' name="description" placeholder="<%=description%>"></textarea> <br/>
		<button>Update</button>
	</form>
</body>
</html>